@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
}

main {
    flex: 1;
    padding: 4rem 2rem;
}

.gallery-section {
    margin-bottom: 4rem;
}

.gallery-title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #f47a60;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.gallery-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: #f47a60;
    transition: width 0.3s;
}

.gallery-title:hover::after {
    width: 100%;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

/* Styles for the gallery items */
.item-1 {
    flex: 1 1 48%;
    height: 250px;
}

.item-2 {
    flex: 1 1 48%;
    height: 250px;
}

.item-3 {
    flex: 1 1 48%;
    height: 300px;
}

.item-4 {
    flex: 1 1 48%;
    height: 300px;
}

.item-5 {
    flex: 1 1 48%;
    height: 200px;
}

.item-6 {
    flex: 1 1 48%;
    height: 200px;
}

.item-7 {
    flex: 1 1 48%;
    height: 300px;
}

.item-8 {
    flex: 1 1 48%;
    height: 300px;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.header {
    background-color: #1c1c1e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
    background-color: #f47a60;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffcbcb;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: #f47a60;
    transition: color 0.3s;
}

.footer {
    background-color: #1c1c1e;
    color: #fff;
    padding: 3rem 1rem;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.footer-column {
    flex: 1;
    margin: 1rem;
    min-width: 200px;
}

.footer-column h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #f47a60;
}

.footer-column p,
.footer-column ul,
.footer-column ul li a {
    font-size: 1.6rem;
    color: #fff;
}

.footer-column ul {
    padding: 0;
    list-style: none; /* Remove bullet points */
}

.footer-column ul li {
    margin: 0.5rem 0;
}

.footer-column ul li a:hover {
    color: #ffcbcb;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-links a {
    margin: 0 0.5rem;
    display: inline-block;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 1rem;
    font-size: 1.4rem;
}